*{
    margin: 0;
    padding: 0;
}

:root{
    --base1: #515B48;
    --base2: #48515B;
    --base3: #5B4851;

    --principal: #2A8A14;
    --secundario: #142A8A;
    --complemento: #8A142A;
    
    --texto1: #ffffff;
    --texto2: #000000;

    --fondo: #d0d0d0;
}


.contenedor{
    margin-top: 10px;
    margin-top: 115px;
    width: 100vw;
    height: 70vh;
    border: 1px solid var(--texto2);
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.card{
    background-color: var(--base3);
    width: 96vw;
    height: 65vh;
    border: 4px solid var(--base3);
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    align-items:center;

    gap: 5;
}

.card:hover{
    box-shadow: 0 0 20px 0 var(--base3);
    transform:scale(1.02);
}


.contend-principal{}

.contend-input-general{
    width: 99%;
    height: 25px;
    border-radius: 8px;
    border: 4px solid var(--base3);
    margin-bottom: 5px;
    
}


