
*{
    margin: 0;
    padding: 0;
}
:root{
    --texto1: #5B4851;
    --texto2: #2EC50D;
    
    --fondo1: #ffffff;
    --fondo2: #000000;
    
}
/*
.contend-input-general{
    font-size: large;
    width: 50vw;
    height: 60px;
    border-radius: 10px;
    border: 3px solid var(--texto1);
    margin: 15px;
    
}
*/

.contend-input-general{
    width: 90%;
    height: 80px;

    padding: 0 15px;

    font-size: 18px;
    font-family: sans-serif;

    color: var(--texto1);
    background-color: var(--fondo1);

    border: 1px solid var(--texto1);
    border-radius: 10px;

    margin: 15px;

    outline: none;
    transition: all 0.3s ease;
}

/* Cuando el usuario hace click */
.contend-input-general:focus{
    border-color: var(--texto1);
    box-shadow: 0 0 10px var(--texto1);

    transform: scale(1.02);
}

/* Placeholder */
.contend-input-general::placeholder{
    color: #999;
    font-size: 20px;
}
