*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{

    --texto1: #5B4851;
    --texto2: #2EC50D;
    
    --fondo1: #ffffff;
    --fondo2: #000000;

    --fondoOpaco1: #ffffffaa;
    --fondoOpaco2: #00000033;
}

.menu{
    width: 100vw;
    height: 10vh;
    position: absolute;
    background-color: var(--texto1);
}

.ol-menu{
    padding: 20px;
    list-style: none;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    
    }

.li-menu {
    font-size: 35px;
    font-weight: 600;
    gap: 10px;              
}

a{
    text-decoration: none;
    color: var(--fondo1);
    width: 150px;
    height: 60px;
    display: flex;          /* ← Usar flex para centrar */
    align-items: center;    /* ← Centrar vertical */
    justify-content: center; /* ← Centrar horizontal */
    
}

.li-menu a:hover {
    color: var(--fondo1);
    width: 180px;
    height: 60px;
    font-size: 40px;
    font-weight: 600;
    transition: all 0.4s ease;
    transform: translateY(-10px);
    align-items:center;
    
}